.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %content-width;
    padding-top: 25px;
    margin-bottom: 55px;
}

.nav {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
    &__button {
        @extend %button;
        display: none;
        color: $main-color;
        margin-right: 45px;
        background-color: transparent;
        border: 2px solid $main-color;
        @media (min-width: 768px) {
            display: block;
        }
    }
}

.burger {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
        cursor: pointer;
        & .top {
            transform: rotate(45deg);
            transform-origin: 0;
        }
        & .center {
            opacity: 0;
        }
        & .bottom {
            transform: rotate(-45deg);
            transform-origin: 0;
        }
        & .line {
            width: 32px;
        }
    }
}

.line {
    width: 24px;
    height: 2px;
    background-color: black;
}