.problem {
    @extend %content-width;
    padding-top: 50px;
    @media (min-width: 768px) {
        padding-top: 60px;
    }
    &-wrap {
        position: relative;
    }
    &-bg {
        @extend %bg;
        height: 500px;
        z-index: -1;
        @media (min-width: 768px) {
            height: 332px;
            background: url(../images/fire_png.png) right bottom no-repeat #111517;
        }
    }
    &__title {
        @extend %title;
        color: #fff;
        letter-spacing: 1.2px;
        width: 240px;
        @media (min-width: 768px) {
            width: 390px;
        }
        &--orange {
            color: $main-color;
        }
    }
    &-list {
        @extend %content-width;
        counter-reset: section;
        background-color: #fff;
        padding: 0 38px;
        margin: 10px auto 55px;
        box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 15px;
        }
    }
    &-item {
        padding-top: 20px;
        position: relative;
        @media (min-width: 768px) {
            width: 230px;
            &:nth-child(odd) {
                margin-right: 70px;
            }
        }
        &--last {
            padding-bottom: 20px;
        }
        &::before {
            @extend %before;
            margin-bottom: 15px;
        }
        &::after {
            position: absolute;
            top: 13px;
            left: 35px;
            color: $main-color;
            font-size: 14px;
            font-weight: 600;
            counter-increment: section;
            content: "0" counter(section) "";
        }
        &__text {
            font-size: 13px;
            font-weight: 800;
            line-height: 1.5;
        }
    }
}