.program {
    &-wrap {
        @extend .problem-wrap;
    }
    &-bg {
        @extend %bg;
        height: 1740px;
        z-index: -2;
        @media (min-width: 768px) {
            height: 1140px;
        }
        @media (min-width: 1280px) {
            height: 1260px;
        }
        &-photo {
            position: absolute;
            width: fit-content;
            top: 1297px;
            right: 0;
            z-index: -1;
            @media (min-width: 768px) {
                top: 680px;
                right: 0;
            }
            @media (min-width: 1280px) {
                top: 600px;
                left: 0;
            }
            &::after {
                @extend %before;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    &__title {
        @extend %content-width;
        @extend %title;
        color: #fff;
        letter-spacing: 1.2px;
        text-align: center;
        padding-top: 45px;
        margin-bottom: 35px;
        @media (min-width: 768px) {
            text-align: left;
        }
        @media (min-width: 1280px) {
            text-align: left;
            padding-top: 80px;
            margin-bottom: 45px;
        }
    }
    &-list {
        width: fit-content;
        position: relative;
        margin: 0 auto 15px;
        counter-reset: section;
        @media (min-width: 768px) {
            margin-bottom: 145px;
        }
        @media (min-width: 1280px) {
            display: flex;
            justify-content: center;
            width: auto;
            padding-top: 45px;
            margin-bottom: 25px;
            border-top: 2px solid #546264;
        }
    }
    &-item {
        position: relative;
        padding: 15px 0 20px 30px;
        border-left: 2px solid #546264;
        @media (min-width: 768px) {
            display: flex;
        }
        @media (min-width: 1280px) {
            display: block;
            border: none;
            padding-left: 25px;
        }
        &-wrap {
            @media (min-width: 768px) {
                width: 155px;
                margin-right: 25px;
            }
            @media (min-width: 1280px) {
                width: 229px;
                margin: 0;
            }
        }
        &:last-child {
            border-left: 2px solid transparent;
        }
        &::before {
            @extend %before;
            position: absolute;
            top: 0;
            left: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            @media (min-width: 1280px) {
                top: -51px;
                left: 30px;
            }
        }
        &::after {
            position: absolute;
            top: -4px;
            left: 30px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            counter-increment: section;
            content: "" counter(section) " Семестр";
            @media (min-width: 1280px) {
                font-size: 19px;
            }
        }
        &__title {
            display: flex;
            align-items: center;
            color: $main-color;
            font-size: 13px;
            padding: 15px 0;
            @media (min-width: 1280px) {
                font-size: 18px;
                padding-top: 40px;
            }
            &::before {
                @extend %before;
                margin-right: 12px;
            }
        }
        &__text {
            @extend %primory-font;
            @media (min-width: 1280px) {
                font-size: 18px;
            }
        }
    }
}