.reviews {
    text-align: center;
    position: relative;
    &__title {
        @extend %title;
        width: 280px;
        margin: 0 auto 40px;
        @media (min-width: 768px) {
            width: auto;
        }
    }
    &-card {
        width: 255px;
        margin: 0 auto 55px;
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            width: auto;
        }
        &-wrap {
            @media (min-width: 768px) {
                padding-top: 15px;
                margin-right: 43px;
            }
        }
        &-content {
            width: 265px;
            @media (min-width: 768px) {
                width: 435px;
                text-align: left;
            }
        }
        &__img {
            display: block;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            margin: 0 auto 15px;
        }
        &__icon {
            width: 50px;
            height: 28px;
            margin-bottom: 20px;
        }
        &__title {
            font-size: 13px;
            color: $main-color;
            margin-bottom: 5px;
            @media (min-width: 768px) {
                margin-bottom: 20px;
            }
        }
        &__subtitle {
            @extend %primory-font;
            line-height: 17px;
            margin-bottom: 20px;
            @media (min-width: 768px) {
                font-size: 12.5px;
            }
        }
        &-text {
            color: #111517;
            font-weight: 600;
            &-wrap {
                height: 100px;
                @extend %primory-font;
                overflow: hidden;
                @media (min-width: 768px) {
                    height: 120px;
                }
            }
        }
        &__link {
            color: $main-color;
            &:hover {
                text-decoration: underline;
                ;
            }
        }
    }
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f1f1;
        padding: 15px 0 55px;
    }
    &-item {
        position: relative;
        z-index: 2;
        margin-right: 10px;
        &:hover .reviews-item__img {
            border-color: $main-color;
        }
        &:last-child() {
            margin: 0;
        }
        &--last {
            @media (max-width: 767px) {
                margin-right: 0;
            }
        }
        &--media {
            display: none;
            @media (min-width: 768px) {
                display: unset;
            }
        }
        &__link {
            display: block;
        }
        &__img {
            display: block;
            width: 54px;
            height: 54px;
            border-radius: 50%;
            border: 2px solid transparent;
        }
    }
    &-arrows {
        &-list {
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            width: 280px;
            bottom: 70px;
            left: 50%;
            transform: translateX(-50%);
            @media (min-width: 768px) {
                width: 725px;
                bottom: 215px;
            }
        }
        &-item {
            &__button {
                width: 20px;
                height: 11px;
                border: none;
                background-image: url(../images/left_arrow.jpg);
                &--right {
                    background-image: url(../images/right_arrow.jpg);
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}