.teacher {
    @extend %content-width;
    &__title {
        @extend %title;
        margin-bottom: 20px;
    }
    &-wrap {
        @media (min-width: 768px) {
            display: flex;
        }
        &-content {}
    }
    &__img {
        margin-bottom: 20px;
        @media (min-width: 768px) {
            margin-right: 44px;
        }
    }
    &__subtitle {
        @extend %title;
        font-size: 16px;
        margin-bottom: 5px;
    }
    &-list {
        border-top: 1px solid rgba(133, 133, 133, 0.5);
        padding-top: 20px;
    }
    &-item {
        padding-left: 35px;
        margin-bottom: 25px;
        background: url(../images/Check.svg) top left/20px 25px no-repeat;
        &__text {
            font-size: 13px;
            font-weight: 700;
        }
    }
    &__text {
        @extend %primory-font;
        padding-left: 15px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            padding-left: 0;
        }
        &--first {
            &::before {
                @extend %before;
                margin-bottom: 20px;
            }
        }
    }
    &__link {
        display: block;
        margin: 0 auto 50px;
        width: fit-content;
        font-size: 11px;
        color: $main-color;
        @media (min-width: 768px) {
            display: inline-block;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}