.why {
    @extend %content-width;
    &__title {
        @extend %title;
        width: 140px;
        color: #fff;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            width: unset;
            text-align: center;
        }
    }
    &-list {
        @extend .problem-list;
    }
    &-item {
        @extend .problem-item;
        &--last {
            @extend .problem-item--last;
        }
        &__text {
            @extend .problem-item__text;
        }
    }
}