/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import '_variables';
@import 'base.scss';
@import '_header';
@import '_main-section';
@import '_problem';
@import '_how';
@import '_program';
@import '_why';
@import '_teacher';
.container {
    min-width: 320px;
}

.guarantee {
    @extend %content-width;
    &__title {
        @extend %title;
        margin-bottom: 50px;
        text-align: center;
    }
    &-item {
        position: relative;
        border-left: 1px dotted rgb(186, 186, 186);
        padding-left: 28px;
        &::before {
            @extend %before;
            position: absolute;
            top: 0;
            left: -10px;
            width: 20px;
            height: 27px;
            z-index: 2;
            background: url(../images/Campfire.svg) no-repeat transparent;
        }
        &::after {
            @extend %before;
            position: absolute;
            top: 0;
            left: -1px;
            width: 2px;
            height: 5px;
            background-color: #fff;
            z-index: 1;
        }
        &__text {
            font-size: 11px;
            font-weight: 700;
            line-height: 20px;
            &--orange {
                color: $main-color;
            }
        }
    }
}