/*
 * Все паршалы импортировать в этот файл
 */

@import 'normalize.scss';
@import '_variables';
@import 'base.scss';
@import '_header';
@import '_main-section';
@import '_problem';
@import '_how';
.container {
    min-width: 320px;
}

.program {
    @extend %content-width;
    &-wrap {
        @extend .problem-wrap;
    }
    &-bg {
        @extend .problem-bg;
        height: 1570px;
    }
    &__title {
        @extend .problem__title;
        text-align: center;
        padding-top: 45px;
        margin-bottom: 35px;
    }
    &-list {
        width: fit-content;
        position: relative;
        margin: 0 auto;
        border-left: 2px solid #546264;
        counter-reset: section;
        &::after {
            @extend %before;
            position: absolute;
            bottom: 0;
            left: -3px;
            width: 4px;
            height: 96px;
            background-color: #111517;
        }
    }
    &-item {
        position: relative;
        padding: 15px 0 20px 30px;
        &::before {
            @extend %before;
            position: absolute;
            top: 0;
            left: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        &::after {
            position: absolute;
            top: -4px;
            left: 30px;
            color: #fff;
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            counter-increment: section;
            content: "" counter(section) " Семестр";
        }
        &__title {
            display: flex;
            align-items: center;
            color: $main-color;
            font-size: 13px;
            padding: 15px 0;
            &::before {
                @extend %before;
                margin-right: 12px;
            }
        }
        &__text {
            @extend .how-item__text;
        }
    }
}